<header class="top">
  <a routerLink="/" href="">
    <img src="../assets/nav-logo.png" /></a>

  <div class="flex">
    <a *ngIf="!playerThang?.currentUser?.admin" (click)="startLogOut()" href="">Log out</a>
    <a *ngIf="adminThang?.currentUser?.admin" (click)="startLogOut()" href=""> Log out</a>
    <p>
      <b *ngIf="!playerThang?.currentUser">
        {{ playerThang?.currentUser?.fullName}}
      </b>
      <b *ngIf="adminThang?.currentUser?.admin">
        {{ adminThang?.currentUser?.placeName}}
      </b>
    </p>
  </div>
</header>

<p>
  <b> Reservation by: {{ matchInfo.captain }}</b>
</p>



<h2 class="head"> MATCH STATUS </h2>

  <section>
    <div class="container">
      <div class="item">
        <div class="location">
        <img src="../assets/location.png" alt="Location" id="location" />
        <p class="item-p p-left">{{matchInfo.location}}</p>
      </div>
      </div>
      <div class="item date">
        <p class="item-p weekday"><i>{{ matchInfo.date | date:'EEEE'}}</i></p>
        <p class="item-p month">{{ matchInfo.date | date: 'MMM'}}</p>
        <p class="item-p day">{{ matchInfo.date | date: 'dd'}}</p>
        <p class="item-p hour">0{{ matchInfo.time }}:00 PM</p>
      </div>
      <div class="item">
        <div class="invite">
          <img src="../assets/invite.png" alt="Invite" id="invite"/>
          <p class="item-p">Invite</p>
        </div>
      </div>
    </div>
    <div class="bottom">
      <span><i>The price of the field hourly: $120</i></span>
      <span><i>Estimated price per player: $10</i></span>
    </div>
  </section>

  <div class="match-status">
    <h3> STADIO SOCCER </h3>

    <div class="status-top">
      <div class="status-team">
        <img  src="../assets/team-blue.png"/>
        <b> TEAM 1 </b>
      </div>
      <div class="status-center">
        <p>VS</p>
        <span class="line">|</span>
        <span>60:00</span>
      </div>
      <div class="status-team">
        <img src="../assets/team-green.png" />
        <b> TEAM 2 </b>
      </div>
    </div>
    <div class="status-bottom">
      <div class=blue-team>
        <ul>
          <li *ngFor="let onePlayer of matchInfo.players.slice(0,6)">
            <p>{{ onePlayer }}</p>
          </li>
        </ul>
      </div>
      <div class="green-team">
        <ul>
          <li *ngFor="let onePlayer of matchInfo.players.slice(7,12)">
            <p>{{ onePlayer }}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="blue-square">
  </div>

  <img src="../assets/soccer-field.png" id="soccer-field" alt="Soccer Field"/>

  <button *ngIf="!adminThang.currentUser.admin" id="check-in" (click)="checkIn()">
    Check in to play
  </button>

  <div class="stand-players">
    <h3>Stand by Players</h3>
    <div class="stand-players-list">
      <ul>
        <li *ngFor="let onePlayer of matchInfo.players.slice(13, 50)">
          <p>{{ onePlayer }}</p>
        </li>
      </ul>
    </div>
  </div>
